<table>
  <thead>
    <th>Title</th>
    <th>Opinion</th>
    <th colspan="2"></th>
  </thead>
</table>
  <tbody>
<% @books.each do |book| %>
<% end %>



<h1>User info</h1>
<table>
  <tr><th>image</th><td> </td></tr>
  <tr><th>name</th><td>nuts</td></tr>
  <tr><th>introduction</th><td>hello!!</td></tr>
  
</table>


<h1>New book</h1>
  <%= form_with model: @book do |f| %>
   
    <h4>Title</h4>
      <%= f.text_field :book_name %>
    <h4>Opinion</h4>
      <%= f.text_area :caption %>
    <%= f.submit 'Create Book' %>
  <% end %>